body {
  margin: 0;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

video {
  height: 600px;
  position: absolute;
  opacity: .5;
}

.container {
  display: grid;
  height: 600px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 268px 39px 140px 83px 1fr;
  grid-template-areas: "top" "countdown" "selections" "heroes" "select";
}

.selections {
  background-color: red;
  grid-area: selections;
}
